In [25]:
import pandas as pd
data = pd.read_csv('athlete_events1.csv')

In [3]:
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [27]:
data.drop_duplicates(inplace=True)

In [28]:
data.duplicated().sum()

0

In [36]:
#data.drop(['NOC'],axis=1,inplace=True)

In [29]:
data.isna().sum()

ID             0
Name           0
Sex            0
Age         9315
Height     58814
Weight     61527
Team           0
NOC            0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

In [37]:
data.columns

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'Games', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [38]:
data.head(5)

,Sex,Age,Height,Weight,Team,Games,Year,Season,City,Sport,Event,Medal
0,M,24.0,180.0,80.0,China,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,M,23.0,170.0,60.0,China,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,M,24.0,NaN,NaN,Denmark,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,M,34.0,NaN,NaN,Denmark/Sweden,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,F,21.0,185.0,82.0,Netherlands,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN

In [44]:
data.isna().sum()

Sex            0
Age         9315
Height     58814
Weight     61527
Team           0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

In [45]:
data['Age'].mean()

25.454776204227084

In [46]:
data.fillna({'Age':"25.45", 'Height':"175.33", 'Weight': "70.70"},inplace=True)

In [47]:
data.isna().sum()

Sex            0
Age            0
Height         0
Weight         0
Team           0
Games          0
Year           0
Season         0
City           0
Sport          0
Event          0
Medal     229959
dtype: int64

In [48]:
data.fillna({'Medal':"No Medal"}, inplace=True)

In [49]:
data.columns

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'Games', 'Year', 'Season',
       'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [14]:
data.drop('ID',axis=1)

,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,No Medal
1,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,No Medal
2,Gunnar Nielsen Aaby,M,24.0,{data.iloc[4].mean()},{data.iloc[5].mean()}},Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,No Medal
3,Edgar Lindenau Aabye,M,34.0,{data.iloc[4].mean()},{data.iloc[5].mean()}},Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,No Medal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,No Medal
271112,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",No Medal
271113,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",No Medal
271114,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,No Medal
271115,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,No Medal

In [19]:
# data.drop(('Name'),axis=1,inplace=True)

In [55]:
from sklearn.compose import make_column_transformer
import sklearn.preprocessing as ps
standardscaler = ps.StandardScaler()
ordinalencoder = ps.OrdinalEncoder()
transformer = make_column_transformer((ordinalencoder,['Sex', 'Team', 'Games','Season', 'City', 'Sport', 'Event', 'Medal']),(standardscaler,['Height', 'Weight', 'Age', 'Year']))

In [20]:
data.columns

Index(['Sex', 'Age', 'Height', 'Weight', 'Team', 'NOC', 'Games', 'Year',
       'Season', 'City', 'Sport', 'Event', 'Medal'],
      dtype='object')

In [57]:
pdata=transformer.fit_transform(data)

In [61]:
from sklearn import decomposition

pca = decomposition.PCA(n_components=2)
data_x = pca.fit_transform(pdata)
data_x

array([[-381.84049409, -209.60050862],
       [-382.59943741,   29.62101203],
       [-307.43247302,  -19.7798928 ],
       ...,
       [ 227.77825332,  230.3855573 ],
       [ 229.11461058, -189.35272327],
       [ 229.11855875, -189.34920099]])

In [ ]:
p